@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
/*Default Class*/
*:focus {
  outline: none !important;
}

html {
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p {
  margin: 0px;
}

hr {
  border-top: 2px solid #262626;
  margin: 0px;
}
hr.light {
  border-bottom: 2px solid #a6a6a6;
}

video {
  border-radius: 15px;
}

img {
  max-width: 100%;
}

/* Main Container */
#funan-body {
  width: 1080px;
  height: 1920px;
  margin: auto;
  overflow: hidden;
  background-color: #262626;
  position: relative;
  color: #FFFFFF;
}

#inner-main-container {
  width: inherit;
  height: 1445px;
  position: relative;
  padding: 0px 55px;
  font-size: 18px;
}

#content-top-container {
  height: 845px;
  width: 100%;
  padding: 50px 15px;
}

#transport-content-body {
  padding: 50px 100px;
}

/* Header */
header {
  height: 155px;
  border-bottom: 2px solid #a6a6a6;
  padding: 55px 15px;
}
header #header-right {
  line-height: 18px;
}
header #header-right img, header #header-right .block {
  margin-left: 15px;
}

/* Footer */
.search-box {
  position: absolute;
  width: 100%;
  bottom: 320px;
  background-color: #000000;
  z-index: 99;
  padding-top: 25px;
  padding-bottom: 25px;
}
.search-box input {
  width: 70%;
  font-weight: 700;
  margin: auto;
  padding: 20px;
  border-radius: 65px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
}
.search-box .keyboard-wrapper {
  background: #000000;
  border-bottom: 2px solid #000000;
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
}
.search-box .keyboard-wrapper .jkey {
  border-radius: 50px;
  min-width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 25px;
}
.search-box .keyboard-wrapper .jkey.clear {
  width: 130px;
}
.search-box .keyboard-wrapper .btn-close-keyboard {
  position: absolute;
  right: 50px;
  line-height: 30px;
  color: #a6a6a6;
  bottom: 50px;
  font-size: 50px;
}
.search-box .keyboard-wrapper .btn-close-keyboard:after {
  content: 'Close';
  display: block;
  font-size: 14px;
}

.directory .keyboard-wrapper.active {
  border-bottom: 2px solid #262626;
  height: 600px;
  padding: 75px 0px 50px 0px;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 14px;
  height: 320px;
  position: relative;
  margin-top: 45px;
}
footer .funan-row {
  padding: 15px 25px;
}
footer #footer-top {
  color: #a6a6a6;
  font-weight: 700;
}
footer #footer-bottom .menu-block {
  display: inline;
  margin-right: -15px;
  width: 13.3%;
  float: left;
  text-align: center;
  padding: 25px 0px;
  border-radius: 65px;
  font-weight: 700;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
}
footer #footer-bottom .menu-block.active {
  width: 20.2%;
}
footer #footer-bottom .menu-block img {
  width: 50px;
}
footer #footer-bottom .menu-block.home {
  background-color: #474747;
  border: 3px solid #474747;
  margin-left: 40px;
}
footer #footer-bottom .menu-block.home.active {
  border: 3px solid #747474;
}
footer #footer-bottom .menu-block.floor-guide {
  background-color: #570f12;
  border: 3px solid #570f12;
}
footer #footer-bottom .menu-block.floor-guide.active {
  border: 3px solid #a23433;
}
footer #footer-bottom .menu-block.floor-guide:after {
  content: url("../asset/general/floor-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}
footer #footer-bottom .menu-block.directory {
  background-color: #2d4487;
  border: 3px solid #2d4487;
}
footer #footer-bottom .menu-block.directory.active {
  border: 3px solid #3c94c6;
}
footer #footer-bottom .menu-block.directory:after {
  content: url("../asset/general/directory-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}
footer #footer-bottom .menu-block.catalogue {
  background-color: #45832e;
  border: 3px solid #45832e;
}
footer #footer-bottom .menu-block.catalogue.active {
  border: 3px solid #69c447;
}
footer #footer-bottom .menu-block.catalogue:after {
  content: url("../asset/general/catalogue-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}
footer #footer-bottom .menu-block.happening {
  background-color: #370b3c;
  border: 3px solid #370b3c;
}
footer #footer-bottom .menu-block.happening.active {
  border: 3px solid #a722b6;
}
footer #footer-bottom .menu-block.happening:after {
  content: url("../asset/general/happening-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}
footer #footer-bottom .menu-block.transport {
  background-color: #8d5c3e;
  border: 3px solid #8d5c3e;
}
footer #footer-bottom .menu-block.transport.active {
  border: 3px solid #e69665;
}
footer #footer-bottom .menu-block.transport:after {
  content: url("../asset/general/transport-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}
footer #footer-bottom .menu-block.whatsplaying {
  background-color: #ebac45;
  border: 3px solid #ebac45;
}
footer #footer-bottom .menu-block.whatsplaying.active {
  border: 3px solid #fee554;
}
footer #footer-bottom .menu-block.whatsplaying:after {
  content: url("../asset/general/whatsplaying-effect.jpg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -3px;
}

/* Home Page */
.home {
  /* This is for home Page Header Only */
}
.home header {
  display: none;
}
.home #inner-main-container.home-page {
  background-image: url("../asset/bg/home-bg.png");
  background-size: 100% 100%;
  padding: 120px 75px;
  height: 1600px !important;
  /*transition: all 2s;*/
}
.home #inner-main-container.home-page .home-header {
  text-align: right;
}
.home #inner-main-container.home-page .home-header > .row {
  margin-top: 75px;
}
.home #inner-main-container.home-page .home-header #time {
  font-size: 30px;
  font-weight: bold;
}
.home #inner-main-container.home-page .home-slider {
  margin-top: 50px;
}
.home #inner-main-container.home-page .home-slider img {
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 25px 0px #262626;
          box-shadow: 0px 5px 25px 0px #262626;
}
.home #inner-main-container.home-page .home-content {
  margin-top: 50px;
}
.home #inner-main-container.home-page .home-content h1 {
  font-weight: 400;
}
.home #header-right {
  line-height: 18px;
}
.home #header-right .border-left .block {
  width: 50%;
}

/* Transport Page */
.transport-page {
  background-image: url("../asset/bg/transport-left-bg.jpg"), url("../asset/bg/transport-right-bg.jpg");
  background-position: left 70%, right 90%;
  background-repeat: no-repeat;
}
.transport-page .tab-menu-box {
  margin-top: 50px;
}
.transport-page .tab-menu-box .tab-block.active {
  background-color: #8d5c3e;
  border-color: #8d5c3e;
}
.transport-page #carpark {
  height: 1041px;
}
.transport-page .carpak-top {
  height: 550px;
}
.transport-page .carpark-bottom {
  padding-bottom: 50px;
}
.transport-page .carpark-bottom #carpark-keyboard .jkey {
  border: 2px solid #8d5c3e;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 75px;
  width: 75px;
  line-height: 75px;
  background-color: #474747;
  border-radius: 100%;
}
.transport-page .carpark-bottom #carpark-keyboard .jkey.return, .transport-page .carpark-bottom #carpark-keyboard .jkey.backspace {
  background-color: #8d5c3e;
}
.transport-page .carpark-bottom #carpark-keyboard .jkey:hover, .transport-page .carpark-bottom #carpark-keyboard .jkey:active {
  background-color: #8d5c3e;
}
.transport-page .carpark-bottom #carpark-input-search {
  width: 600px;
  height: 70px;
  padding: 25px;
  background-color: transparent;
  border: 4px solid #8d5c3e;
  margin: 50px 0px 0px 0px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  border-radius: 15px;
}

/* Directory Page */
.directory-page .shop-list-wrapper {
  width: 100%;
}
.directory-page .shop-list-wrapper .shop-box {
  margin-bottom: 20px;
}
.directory-page .shop-list-wrapper .shop-box .shop-location {
  font-size: 18px;
  color: #a6a6a6;
}
.directory-page .shop-list-wrapper .shop-box .shop-title {
  font-size: 24px;
  line-height: 24px;
  height: 70px;
}
.directory-page .flickity-page-dots {
  bottom: 50px;
}

.tab-menu-box .border {
  margin: 2px;
  border: 2px solid #a6a6a6 !important;
}
.tab-menu-box .tab-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -2px;
}
.tab-menu-box .tab-block.active {
  background-color: #2d4487;
  border: 2px solid #2d4487;
}
.tab-menu-box .tab-block.active a {
  color: #FFFFFF;
}
.tab-menu-box .tab-block a {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0px;
  color: #a6a6a6;
}

#category-menu-box {
  text-align: center;
  padding: 50px 0px;
  display: none;
}
#category-menu-box.active {
  display: block;
}
#category-menu-box .category-icon {
  width: 12.5%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  line-height: 15px;
  position: relative;
}
#category-menu-box .category-icon:after {
  content: '';
  width: 59px;
  height: 59px;
  border: 2px solid #262626;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#category-menu-box .category-icon.active:after {
  border-color: #3c93c8;
}
#category-menu-box .category-bottom {
  padding: 7px 0px;
  height: 240px;
  overflow: hidden;
}
#category-menu-box .category-bottom .tag-box {
  display: none;
}
#category-menu-box .category-bottom .tag-box.active {
  display: block;
}
#category-menu-box .category-bottom .tag-box .category-tags {
  width: 20%;
  display: inline-block;
  margin-left: -4px;
}
#category-menu-box .category-bottom .tag-box .category-tags a {
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  width: 95%;
  margin: 10px auto;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#category-menu-box .category-bottom .tag-box .category-tags a.active {
  background-color: #3c93c8;
  border-color: #3c93c8;
}

#floor-menu-box {
  display: none;
}
#floor-menu-box.active {
  display: block;
}
#floor-menu-box .category-top, #floor-menu-box .category-bottom {
  padding: 50px 0px;
}
#floor-menu-box .floor-block {
  width: 10%;
  display: inline-block;
  margin-left: -5px;
  padding: 12px;
}
#floor-menu-box .floor-block.active a {
  background-color: #262626;
  border-color: #3c93c8;
}
#floor-menu-box .floor-block a {
  background-color: #a6a6a6;
  color: #FFFFFF;
  border-radius: 100%;
  text-align: center;
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 24px;
  border: 3px solid #a6a6a6;
  font-weight: 700;
}

/* Happening Page */
.happening-page .top-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}
.happening-page #discover-new {
  height: 1130px;
}
.happening-page .inner-happening-body {
  padding: 100px;
}
.happening-page .inner-happening-body .image-wrapper img {
  border-radius: 30px;
}
.happening-page .inner-happening-body .tab-block.active {
  background-color: #a722b6;
  border-color: #a722b6;
}
.happening-page .slider-target {
  display: none;
}
.happening-page .slider-target.active {
  display: block;
}
.happening-page .slider-target .slider-box {
  width: 100%;
  padding-right: 50px;
}
.happening-page .slider-target .flickity-viewport {
  height: 1130px !important;
}

/* Catalogue Page */
.catalogue-page .inner-catalogue-body {
  padding: 100px 0px;
}
.catalogue-page .inner-catalogue-body .slider-target {
  width: 100%;
}
.catalogue-page .inner-catalogue-body .slider-target h2 {
  height: 55px;
}
.catalogue-page .inner-catalogue-body .slider-target p.location:after {
  content: '';
  width: 150px;
  right: -150px;
  margin: -15px;
  position: absolute;
  content: "";
  -webkit-transform: rotate(30deg);
  transform: rotate(180deg);
  border-top: 2px solid #a6a6a6;
}
.catalogue-page .inner-catalogue-body .slider-target .odd {
  margin-bottom: 70px;
}
.catalogue-page .inner-catalogue-body .slider-target .odd .left {
  padding-left: 65px;
}
.catalogue-page .inner-catalogue-body .slider-target .odd .left p.location {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 20px;
  left: 0px;
}
.catalogue-page .inner-catalogue-body .slider-target .odd .left .qr {
  margin: 0px 15px;
}
.catalogue-page .inner-catalogue-body .slider-target .even {
  margin-bottom: 70px;
}
.catalogue-page .inner-catalogue-body .slider-target .even .left {
  padding-right: 65px;
  text-align: right;
}
.catalogue-page .inner-catalogue-body .slider-target .even .left p.location {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 20px;
  right: 0px;
}
.catalogue-page .inner-catalogue-body .slider-target .even .left .qr {
  margin: 0px 15px;
}

/* Floor Guide */
.floorguide-page .floor-map-container {
  height: 968px;
  display: table;
}
.floorguide-page .floor-map-container .map {
  display: table-cell;
  vertical-align: middle;
}
.floorguide-page .sign-block {
  padding: 0px 25px;
}
.floorguide-page .sign-block .icon {
  width: 11.11%;
  float: left;
  text-align: center;
}
.floorguide-page .floor-level .floor-block {
  width: 9%;
  float: left;
  border: 1px solid #a6a6a6;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin: 0.5%;
  padding: 25px;
  background-image: url("../asset/floor/floor-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px -80px;
  /*transition: background-position 0.5s ease;*/
}
.floorguide-page .floor-level .floor-block.active {
  background-position: 0px;
}

/* FR page */
body.fr header {
  display: none;
}

.fr-page {
  background-image: url("../asset/fr/lady-bg.png");
  background-size: 100% 100%;
  height: 1600px !important;
  padding: 0px !important;
}
.fr-page .logo {
  height: 150px;
}
.fr-page .inner-fr-title {
  color: #a6a6a6;
  padding: 75px;
  height: 306px;
}
.fr-page .inner-fr-title h1 {
  font-size: 90px;
  text-align: center;
  color: #262626;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fefefe;
  font-weight: bold;
  text-transform: uppercase;
}
.fr-page .inner-fr-top {
  background-color: #FFFFFF;
  height: 150px;
}
.fr-page .inner-fr-content {
  padding: 90px 65px;
}
.fr-page .inner-fr-content h3 {
  margin-bottom: 0px;
}
.fr-page .inner-fr-content .description {
  line-height: 17px;
  font-size: 16px;
}

/* jQuery plugin - CSS */
.flickity-page-dots .dot {
  background: #a6a6a6;
}
.flickity-page-dots .dot.is-selected {
  background: #3c93c8;
}

.flickity-prev-next-button.next {
  right: -35px;
}

.flickity-prev-next-button.previous {
  left: -35px;
}

/* Bootstrap CSS */
.modal-dialog {
  min-width: 790px;
}
.modal-dialog .modal-content {
  background-color: transparent;
  border: 0px;
}
.modal-dialog .modal-content .modal-header {
  background-image: url("../asset/general/popup-header.jpg");
  background-size: 100% 100%;
  height: 86px;
  border-radius: 3px 3px 0px 0px;
}
.modal-dialog .modal-content .modal-body {
  padding: 45px;
  font-size: 18px;
  background-color: #FFFFFF;
}
.modal-dialog .modal-content .modal-footer .close {
  color: #FFFFFF;
  font-size: 150px;
  margin: auto;
  opacity: 1;
  font-weight: 300;
}
.modal-dialog .modal-content .popup-title, .modal-dialog .modal-content .modal-title {
  color: #474747;
  text-align: center;
}
.modal-dialog .modal-content .modal-title {
  font-weight: 700;
}
.modal-dialog .modal-content .popup-body {
  color: #474747;
}
.modal-dialog .modal-content .popup-body .left, .modal-dialog .modal-content .popup-body .right {
  display: inline-block;
  background-color: #ebebeb;
  width: 49.5%;
  padding: 15px;
  text-align: center;
  color: #262626;
}
.modal-dialog .modal-content .popup-body .popup-body-description {
  font-weight: 700;
}
.modal-dialog .modal-content .popup-body .popup-body-footer {
  text-align: center;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.img-responsive {
  margin: auto;
}

/* General Class */
.font-color {
  color: #a6a6a6;
}

.font-sm {
  font-size: 12px;
}

.block-ml90 {
  margin-left: 90px;
}

.outline-font {
  color: #262626;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fefefe;
  font-size: 75px;
  font-weight: bold;
  line-height: 25px;
}

#page-title {
  padding: 0px;
}
#page-title h1 {
  margin-right: 10px;
}
#page-title * {
  display: inline-block;
}

/* Icons */
.search-icon {
  position: absolute;
  top: -20px;
  left: 400px;
  z-index: 9;
}

.inner-icon {
  vertical-align: bottom;
}

/* Buttons */
.btn-directory, .btn-directory-blue {
  background-image: url("../asset/icons/directory.jpg");
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 2px solid #a6a6a6;
  border-radius: 50px;
  padding: 10px 30px 10px 45px;
  display: inline-block;
  clear: both;
  margin: 15px 0px 0px 0px;
  color: #a6a6a6;
}

.btn-directory-blue {
  background-image: url("../asset/icons/directory-blue.jpg");
  border-color: #3c93c8;
  color: #3c93c8;
}

.fr-btn {
  border: 3px solid #a6a6a6;
  border-radius: 50px;
  padding: 20px;
  margin: 15px 15px;
}

.show-sample {
  position: absolute;
  z-index: 9;
  right: -27px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 40px;
}

.sample {
  position: absolute;
  z-index: 99;
  width: 86%;
  left: 7%;
}
