@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');


$font-color: #a6a6a6;

$white: #FFFFFF;
$outline-color: #fefefe;

$blue: #3c93c8;
$blue2: #2d4487;

$background-black: #262626;
$background-black2: #ebebeb;
$footer-black: #000000;


$menu-home: #474747;
$menu-home-border: #747474;
$menu-floorguide: #570f12;
$menu-floorguide-border: #a23433;
$menu-directory: #2d4487;
$menu-directory-border: #3c94c6;
$menu-catalogue: #45832e;
$menu-catalogue-border: #69c447;
$menu-happening: #370b3c;
$menu-happening-border: #a722b6;
$menu-transport: #8d5c3e;
$menu-transport-border: #e69665;
$menu-whatsplaying: #ebac45;
$menu-whatsplaying-border: #fee554;