@import 'colorfonts';

/*Default Class*/
*:focus{
	outline: none !important;
}
html{
	color: $white;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

p{
	margin: 0px;
}

hr{
	border-top: 2px solid $background-black;
	margin: 0px;
	&.light{
		border-bottom: 2px solid $font-color;
	}
}

video{
	border-radius: 15px;
}

img{
	max-width: 100%;
}

/* Main Container */
#funan-body{
	width: 1080px;
	height: 1920px;
	margin: auto;
	overflow: hidden;
	background-color: $background-black;
	position: relative;
	color: $white;
}

#inner-main-container{
	width: inherit;
	height: 1445px;
	position: relative;
	padding: 0px 55px;
	font-size: 18px;
}

#content-top-container{
	height: 845px;
	width: 100%;
	padding: 50px 15px; 
}

#transport-content-body{
	padding: 50px 100px;
}

/* Header */
header{
	height: 155px;
	border-bottom: 2px solid $font-color;
	padding: 55px 15px;
	#header-right{
		line-height: 18px;
		img, .block{
			margin-left: 15px;
		}
	}
}

/* Footer */
.search-box{
	position: absolute;
	width: 100%;
	bottom: 320px;
	background-color: $footer-black;
	z-index: 99;
	padding-top: 25px;
	padding-bottom: 25px;
	input{
		width: 70%;
		font-weight: 700;
		margin: auto;
		padding: 20px;
		border-radius: 65px;
		position: absolute;
		top: -35px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 9;
	}
	.keyboard-wrapper{
		background: $footer-black;
		border-bottom: 2px solid $footer-black;
		overflow: hidden;
		height: 0px;
		transition: all 1s;
		position: relative;
		.jkey{
			border-radius: 50px;
			min-width: 75px;
			height: 75px;
			line-height: 75px;
			font-size: 25px;
			&.clear{
				width: 130px;
			}


		}
		.btn-close-keyboard{
			position: absolute;
			right: 50px;
			line-height: 30px;
			color: $font-color;
			bottom: 50px;
			font-size: 50px;
			&:after{
				content: 'Close';
				display: block;
				font-size: 14px;
			}
		}
	}
}

.directory .keyboard-wrapper.active{
	border-bottom: 2px solid #262626;
	height: 600px;
	padding: 75px 0px 50px 0px;
} 

footer{
	background-color: $footer-black;	
	color: $white;
	font-size: 14px;
	height: 320px;
	position: relative;
	margin-top: 45px;
	.funan-row{
		padding: 15px 25px;
	}
	#footer-top{
		color: $font-color;
		font-weight: 700;
	}
	#footer-bottom{
		.menu-block{
			display: inline;
			margin-right: -15px;
			width: 13.3%;
			float: left;
			text-align: center;
			padding: 25px 0px;
			border-radius: 65px;
			font-weight: 700;
			transition: all 1s;
			position: relative;
			&.active{
				width: 20.2%;
			}
			img{
				width: 50px;
			}
			&.home{ background-color: $menu-home; border: 3px solid $menu-home;
				margin-left: 40px;
				&.active{ border: 3px solid $menu-home-border; }
			}
			&.floor-guide{ background-color: $menu-floorguide; border: 3px solid $menu-floorguide;
				&.active{ border: 3px solid $menu-floorguide-border; }
				&:after{
					content: url('../asset/general/floor-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
			&.directory{ background-color: $menu-directory; border: 3px solid $menu-directory;
				&.active{ border: 3px solid $menu-directory-border; }
				&:after{
					content: url('../asset/general/directory-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
			&.catalogue{ background-color: $menu-catalogue; border: 3px solid $menu-catalogue;
				&.active{ border: 3px solid $menu-catalogue-border; }
				&:after{
					content: url('../asset/general/catalogue-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
			&.happening{ background-color: $menu-happening; border: 3px solid $menu-happening;
				&.active{ border: 3px solid $menu-happening-border; }
				&:after{
					content: url('../asset/general/happening-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
			&.transport{ background-color: $menu-transport; border: 3px solid $menu-transport;
				&.active{ border: 3px solid $menu-transport-border; }
				&:after{
					content: url('../asset/general/transport-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
			&.whatsplaying{ background-color: $menu-whatsplaying; border: 3px solid $menu-whatsplaying;
				&.active{ border: 3px solid $menu-whatsplaying-border; }
				&:after{
					content: url('../asset/general/whatsplaying-effect.jpg');
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -3px;
				}
			}
		}
	}
}

/* Home Page */
.home{
	header{
		display: none;
	}
	#inner-main-container.home-page{
		background-image: url('../asset/bg/home-bg.png');
		background-size: 100% 100%;
		padding: 120px 75px;
		height: 1600px !important;
		/*transition: all 2s;*/
		.home-header{
			text-align: right;
			& > .row{
				margin-top: 75px;
			}
			#time{
				font-size: 30px;
				font-weight: bold;
			}
		}
		.home-slider{
			margin-top: 50px;
			img{
				border-radius: 25px;
				box-shadow: 0px 5px 25px 0px $background-black;
			}
		}
		.home-content{
			margin-top: 50px;
			h1{
				font-weight: 400;
			}
		}
	}
	/* This is for home Page Header Only */
	#header-right{
		line-height: 18px;
		.border-left{
			.block{
				width: 50%;
			}
		}
	}
}

/* Transport Page */
.transport-page{
	background-image: url('../asset/bg/transport-left-bg.jpg'), url('../asset/bg/transport-right-bg.jpg'); 
	background-position: left 70%, right 90%;
	background-repeat: no-repeat;
	.tab-menu-box {
		margin-top: 50px;
		.tab-block.active{
			background-color: $menu-transport;
			border-color: $menu-transport;
		}
	}  

	#carpark{
		height: 1041px;
	}

	.carpak-top{
		height: 550px;
	}

	.carpark-bottom{
		padding-bottom: 50px;
		#carpark-keyboard .jkey{
			border: 2px solid $menu-transport;
			color: $white;
			box-shadow: none;
			height: 75px;
			width: 75px;
			line-height: 75px;
			background-color: $menu-home;
			border-radius: 100%;
			&.return, &.backspace{
				background-color: $menu-transport;
			}
			&:hover, &:active{
				background-color: $menu-transport;
			}
		}

		#carpark-input-search{
			width: 600px;
			height: 70px;
			padding: 25px;
			background-color: transparent;
			border: 4px solid $menu-transport;
			margin: 50px 0px 0px 0px;
			color: $white;
			font-weight: bold;
			font-size: 24px;
			border-radius: 15px;
		}
	}
}

/* Directory Page */
.directory-page{
	.shop-list-wrapper{
		width: 100%;
		.shop-box{
			margin-bottom: 20px;
			.shop-location{
				font-size: 18px;
				color: $font-color;
			}
			.shop-title{
				font-size: 24px;
				line-height: 24px;
				height: 70px;
			}
		}
	}	
	.flickity-page-dots{
		bottom: 50px;
	}
}

.tab-menu-box{
	.border{
		margin: 2px;
		border:2px solid $font-color !important;
	}
	.tab-block{
		display: flex;
		margin: -2px;
		&.active{
			background-color: $blue2;
			border: 2px solid $blue2;
			a{
				color: $white;
			}
		}
		a{
			text-transform: uppercase;
			text-align: center;
			width: 100%;		
			font-size: 16px;	
			font-weight: 700;
			padding:20px 0px;
			color: $font-color;
		}
	}
}

#category-menu-box{
	text-align: center;
	padding: 50px 0px;
	display: none;
	&.active{
		display: block;
	}
	.category-icon{
		width: 12.5%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 15px;
		line-height: 15px;
		position: relative;
		&:after{
			content: '';
			width: 59px;
			height: 59px;
			border: 2px solid $background-black;
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 100%;
			transition: all 0.5s;
		}
		&.active{
			&:after{
				border-color: $blue;
			};
		}
	}
	.category-bottom{
		padding: 7px 0px;
		height: 240px;
		overflow: hidden;
		.tag-box{
			display: none;
			&.active{
				display: block;
			}
			.category-tags{
				width: 20%;
				display: inline-block;
				margin-left: -4px;
				a{
					border: 2px solid $white;
					border-radius: 25px;
					display: block;
					padding: 10px;
					margin-bottom: 15px;
					width: 95%;
					margin: 10px auto;
					font-size: 14px;
					transition: all 0.5s;
					&.active{
						background-color: $blue;
						border-color: $blue;
					}
				}
			}
		}
	}
}

#floor-menu-box{
	display: none;
	&.active{
		display: block;
	}
	.category-top, .category-bottom{
		padding: 50px 0px;
	}
	.floor-block{
		width: 10%;
		display: inline-block;
		margin-left: -5px;
		padding: 12px;
		&.active{
			a{
				background-color: $background-black;
				border-color: $blue;
			}
		}
		a{
			background-color: $font-color;
			color: $white;
			border-radius: 100%;
			text-align: center;
			width: 100%;
			display: block;
			padding: 15px;
			font-size: 24px;
			border: 3px solid $font-color;
			font-weight: 700;
		}
	}
}

/* Happening Page */
.happening-page{
	.top-layer{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9;
	}
	#discover-new{
		height: 1130px;
	}
	.inner-happening-body{
		padding: 100px;
		.image-wrapper{
			img{
				border-radius: 30px;
			}
		}
		.tab-block.active{
			background-color: $menu-happening-border;
			border-color: $menu-happening-border;
		}	
	}
	.slider-target{
		display: none;
		&.active{
			display: block;
		}
		.slider-box{
			width: 100%;
			padding-right: 50px;
		}
		.flickity-viewport{
			height: 1130px !important;
		}
	}
}

/* Catalogue Page */
.catalogue-page{
	.inner-catalogue-body{
		padding: 100px 0px;
		.slider-target{
			width: 100%;
			h2{
				height: 55px;
			}
			p.location{
				&:after{
					content: '';
					width: 150px;
					right: -150px;
					margin: -15px;
					position: absolute;
					content: "";
					-webkit-transform: rotate(30deg);
					-moz-transform: rotate(30deg);
					-o-transform: rotate(30deg);
					-ms-transform: rotate(30deg);
					transform: rotate(180deg);
					border-top: 2px solid $font-color;
				}
			}
			.odd{
				margin-bottom: 70px;
				.left{
					padding-left: 65px;
					p.location{
						transform: rotate(90deg);
						position: absolute;
						top: 20px;
						left: 0px;
					}
					.qr{
						margin: 0px 15px;
					}
				}
			}
			.even{
				margin-bottom: 70px;
				.left{
					padding-right: 65px;
					text-align: right;
					p.location{
						transform: rotate(90deg);
						position: absolute;
						top: 20px;
						right: 0px;
					}
					.qr{
						margin: 0px 15px;
					}
				}
			}
		}
	}
}

/* Floor Guide */
.floorguide-page{
	.floor-map-container{
		height: 968px;
		display: table;
		.map{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.sign-block{
		padding: 0px 25px;
		.icon{
			width: 11.11%;
			float: left;
			text-align: center;
		}
	}
	.floor-level{
		.floor-block{
			width: 9%;
			float:left;
			border: 1px solid $font-color;
			border-radius: 15px;
			color: $white;
			font-weight: bold;
			text-align: center;
			margin: 0.5%;
			padding: 25px;
			background-image: url('../asset/floor/floor-bg.jpg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 0px -80px;
			/*transition: background-position 0.5s ease;*/
			&.active{
				background-position: 0px;
			}
		}
	}
}

/* FR page */
body.fr{
	header{
		display: none;
	}
}

.fr-page{
	background-image: url('../asset/fr/lady-bg.png');
	background-size: 100% 100%;
	height: 1600px !important;
	padding: 0px !important;
	.logo{
		height: 150px;
	}
	.inner-fr-title{
		color: $font-color;
		padding: 75px;
		h1{
			font-size: 90px;
			text-align: center;
			color: $background-black;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: $outline-color;
			font-weight: bold;
			text-transform: uppercase;
		}
		height: 306px;
	}
	.inner-fr-top{
		background-color: $white;
		height: 150px;
	}
	.inner-fr-content{
		padding: 90px 65px;
		h3{
			margin-bottom: 0px;
		}
		.description{
			line-height: 17px;
			font-size: 16px;
		}
	}
}

/* jQuery plugin - CSS */
.flickity-page-dots{
	.dot{
		background: $font-color;
		&.is-selected{
			background: $blue;
		}
	}
}
.flickity-prev-next-button.next{
	right: -35px;
}
.flickity-prev-next-button.previous{
	left: -35px;
}

/* Bootstrap CSS */
.modal-dialog{
	min-width: 790px;
	.modal-content{
		background-color: transparent;
		border: 0px;
		.modal-header{
			background-image: url('../asset/general/popup-header.jpg');
			background-size: 100% 100%;
			height: 86px;
			border-radius: 3px 3px 0px 0px;
		}
		.modal-body{
			padding: 45px;
			font-size: 18px;
			background-color: $white;
		}
		.modal-footer{
			.close{
				color: $white;
				font-size: 150px;
				margin: auto;
				opacity: 1;
				font-weight: 300;
			}
		}
		.popup-title, .modal-title{
			color: $menu-home;
			text-align: center;
		}
		.modal-title{
			font-weight: 700;
		}
		.popup-body{
			color: $menu-home;
			.left, .right{
				display: inline-block;
				background-color: $background-black2;
				width: 49.5%;
				padding: 15px;
				text-align: center;
				color: $background-black;
			}
			.popup-body-description{
				font-weight: 700;
			}
			.popup-body-footer{
				text-align: center;	
			}
		}
	}
}

.modal-backdrop.show{
	opacity: 0.8;
}

.img-responsive{
	margin: auto;
}

/* General Class */
.font-color{
	color: $font-color;
}

.font-sm{
	font-size: 12px;
}

.block-ml90{
	margin-left: 90px;
}

.outline-font{
	color: $background-black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $outline-color;
	font-size: 75px;
	font-weight: bold;
	line-height: 25px;
}

#page-title{
	padding: 0px;
	h1{
		margin-right: 10px;
	}
	* {
		display: inline-block;
	}
}

/* Icons */
.search-icon{
	position: absolute;
	top: -20px;
	left: 400px;
	z-index: 9;
}
.inner-icon{
	vertical-align: bottom;
}

/* Buttons */
.btn-directory{
	background-image: url('../asset/icons/directory.jpg');
	background-position: 10px center;
	background-repeat: no-repeat;
	border: 2px solid $font-color;
	border-radius: 50px;
	padding: 10px 30px 10px 45px;
	display: inline-block;
	clear: both;
	margin: 15px 0px 0px 0px;
	color: $font-color;
}

.btn-directory-blue{
	@extend .btn-directory;
	background-image: url('../asset/icons/directory-blue.jpg');
	border-color: $blue;
	color: $blue;
}

.fr-btn{
	border: 3px solid $font-color;
	border-radius: 50px;
	padding: 20px;
	margin: 15px 15px;
}

.show-sample{
	position: absolute;
	z-index: 9;
	right: -27px;
	transform: rotate(-90deg);
	top: 40px;
}

.sample{
	position: absolute;
	z-index: 99;
	width: 86%;
	left: 7%;
}